{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Created at</th>
            <th scope="col">User</th>
            <th scope="col">Url</th>
            <th scope="col">Method</th>
            <th scope="col">Ip</th>
            <th scope="col">Status code</th>
        </tr>
        </thead>
        <tbody>
        {% for item in activities %}
            <tr>
                <td>{{ item.createdAt|date("Y-m-d h:m:s") }}</td>
                <td>{{ item.user ? item.user.username : '-' }}</td>
                <td class="brake-word">{{ item.url }}</td>
                <td>{{ item.method }}</td>
                <td>{{ item.ip }}</td>
                <td>{{ item.statusCode }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="{{ path('activity_visit-qb', {page:1}) }}">1</a></li>
            <li class="page-item"><a class="page-link" href="{{ path('activity_visit-qb', {page:2}) }}">2</a></li>
            <li class="page-item"><a class="page-link" href="{{ path('activity_visit-qb', {page:3}) }}">3</a></li>
            <li class="page-item"><a class="page-link" href="{{ path('activity_visit-qb', {page:4}) }}">4</a></li>
            <li class="page-item"><a class="page-link" href="{{ path('activity_visit-qb', {page:5}) }}">5</a></li>

        </ul>
    </nav>
{% endblock %}
