<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <section class="header">
        <ul class="menu">
            <li>
                <a href="{{ path('checklist_by_category', {'category_id':1}) }}">php</a>
                <a href="{{ path('checklist_by_category', {'category_id':2}) }}">other</a>
                <a href="{{ path('checklist_by_category', {'category_id':3}) }}">js</a>
            </li>

        </ul>
        <button type="submit">
            <a href="{{ path('checklist_create') }}">
                Add task
            </a>
        </button>
    </section>
        {% block body %}{% endblock %}
    </body>
</html>
