{% extends 'base.html.twig' %}

{% block title %}List of all tasks{% endblock %}

{% block body %}
    <ul>
    {% for task in tasks %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <p class="card-text">{{ task.text }}</p>
                {% if task.done == true %}
                <button type="button" class="btn btn-success">Done</button>
                {% else %}
                <button type="button" class="btn btn-danger">Don't done</button>
                {% endif %}
                <button>Edit</button>
                <a class="btn btn-outline-danger" href="{{ path('checklist_delete', {'id': task.id}) }}" role="button">
                    Delete
                </a>
                <a href="{{ path('checklist_get', {'category_id': task.category.id, 'taskId': task.id}) }}" class="btn btn-primary">
                    See more
                </a>
            </div>
        </div>
    {% endfor %}
    </ul>
    {% if app.user %}
    <button type="submit">
        <a href="{{ path('checklist_create') }}">
            Add task
        </a>
    </button>
    {% endif %}
{% endblock %}
