{% extends 'base.html.twig' %}

{% block title %}List of all tasks{% endblock %}

{% block body %}
    <ul>
    {% for task in tasks %}
        <li>
            <a href="{{ path('checklist_get', {'category_id': task.id, 'taskId': task.id}) }}">
                <h4>{{ task.title }}</h4>
{#                {{ task.done }}#}
            </a>
        <p>{{ task.text }}</p>
            <button>Done</button>
            <button>Edit</button>
            <button>Delete</button>
        </li>
    {% endfor %}
    </ul>
    <button type="submit">
        <a href="{{ path('checklist_create') }}">
            Add task
        </a>
    </button>
{% endblock %}
